{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {% for a_p in all_posts %}
        <div id="s_post">
            <button style="background-color: white; border: none;" onclick="location.href='http://127.0.0.1:8000/view_profile/{{a_p.user.id}}'">
                <img src="{{a_p.user.avatar.url}}" width="40px" height="40px" style="border-radius: 100%;">
                <a>{{a_p.user.username}}</a>
            </button>
            <hr style="width: 90%; margin: 10px auto;">

            <p>{{a_p.text}}</p>
            <button><img data-url="/" data-id="{{a_p.id}}" class="open_postt" style="width: 500px; height: auto;" src="/media/{{a_p.images}}"></button>
            
            <hr style="width: 90%; margin: 10px auto;">

            <!-- <i data-visualcompletion="css-img" class="x1b0d499 xi3auck" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/fSIH5kPU1qz.png&quot;); background-position: 0px -160px; background-size: 26px 556px; width: 18px; height: 18px; background-repeat: no-repeat; display: inline-block;"></i> -->

            <button style="background-color: white; border: none; margin-left: 80px;"><i data-visualcompletion="css-img" class="x1b0d499 x1d69dk1" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/fSIH5kPU1qz.png&quot;); background-position: 0px -180px; background-size: 26px 556px; width: 18px; height: 18px; background-repeat: no-repeat; display: inline-block;"></i> Подобається</button>
            <button style="background-color: white; border: none; margin-left: 80px;"><i data-visualcompletion="css-img" class="x1b0d499 x1d69dk1" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/fSIH5kPU1qz.png');background-position:0 -140px;background-size:26px 556px;width:18px;height:18px;background-repeat:no-repeat;display:inline-block"></i> Коментувати</button>
                

        </div>
    {% endfor %}
    <dialog id="post_dialog">

    </dialog>
{% endblock %}