<div class="container">
    <div class="row" >
        <div class="col-md-7 col-lg-7 ">
            <img style="position: relative; top: 100px;" width="100%" id="post_photo" src="{{img_post.url}}">
        </div>
        <div class="col">
            <img id="user_avatar_i_mg" src="{{a_p.user.avatar}}" width="40px" height="40px" style="border-radius: 100%;">
            <a>{{a_p.user.username}}</a>
            <div>
                <h4 id="text_of_post_v">{{text_post}}</h4>
            </div>
            <hr style="margin: 10px auto; width: 90%;">
            <div>
                Кнопки
            </div>
            <hr style="margin: 10px auto; width: 90%;">
        </div>

    <div></div>
</div>
