{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <div id="head_of_profile">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img style="border-radius: 10px;" src="{{ user_bg }}" width="1250px" height="470px">
                </div>
            </div>
            <div class="row">
                <div class="col-3"><img width="168px" height="168px" style="border-radius:100% ; border: white solid; position: relative; top: -30px; left: 20px;" src="{{user_img}}"></div>
                <div class="col"><h1 style="position: relative; right: 130px; top: 40px; font-weight: bold;">{{user.username}}</h1></div>
            </div>
            <button style="position: relative; left: 200px; top: -87px; border: none; background-color: white;" type="button"><a style="font-weight: bold; color: gray;">друзі: {{len_friends}}</a></button>
            <button id="add_post_btn" onclick='location.href="http://127.0.0.1:8000/create_post/"'>+ Додати розповідь</button>
            <button id="edit_profile" onclick='location.href="http://127.0.0.1:8000/edit_profile/"'><img class="x1b0d499 xep6ejk" src="https://static.xx.fbcdn.net/rsrc.php/v3/yl/r/tmaz0VO75BB.png" alt="" height="16" width="16">Редагувати профіль</button>
        </div>
        <h3 style="position: relative; left: 80px;">Дописи</h3>
        <hr style="width: 90%; margin: 10px auto;">
        {% for a_p in p_o_u %}
            <div id="s_post">
                <img src="{{a_p.user.avatar}}" width="40px" height="40px" style="border-radius: 100%;">
                <a>{{a_p.user.username}}</a>
                <button type="button" class="delete_btnn"  data-id="{{a_p.id}}"><img class="_8idr img" src="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/zgulV2zGm8t.png" alt="" width="28" height="28" id="u_f_9_d0"></button>
            
                <hr style="width: 90%; margin: 10px auto;">
                <button id="opn_post" style="border: none; background-color: white;" data-id="{{a_p.id}}">
                    <p>{{a_p.text}}</p>
                    {% if a_p.images != None %}
                        <img style="width: 500px; height: auto;" src="/media/{{a_p.images}}">
                    {% endif %} 

                </button>

                <dialog id="post_dialog">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">

                            </div>
                        </div>
                    </div>
                </dialog>
                    
                <hr style="width: 90%; margin: 10px auto;">
            </div>
        {% endfor %}
    </div>
{% endblock %}