<button onclick="closeSearchData();" style="background-color: white; border: none;"><img src="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/zgulV2zGm8t.png" alt="" width="28" height="28" id="u_f_9_d0"></button>
{% for us in users %}
    <div style="margin: 10px;">
        <button style="background-color: white; border: none;" onclick='location.href="http://127.0.0.1:8000/view_profile/{{us.id}}"'>
            <img style="border-radius: 100%;" src="{{us.avatar.url}}" width="36px" height="36px">
            <a>{{us.username}}</a>
        </button>

    </div>
{% endfor %}