{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <div id="head_of_profile">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img style="border-radius: 10px;" src="{{ user_data.background.url }}" width="1250px" height="470px">
                </div>
            </div>
            <div class="row">
                <div class="col-3"><img width="168px" height="168px" style="border-radius:100% ; border: white solid; position: relative; top: -30px; left: 20px;" src="{{user_data.avatar.url}}"></div>
                <div class="col"><h1 style="position: relative; right: 130px; top: 40px; font-weight: bold;">{{user_data.username}}</h1></div>
                {% if is_subscribed == 0 %}
                    <div class="col-12"><button data-url="/view_profile/{{user_data.id}}/" id="follower_btn">Дружити</button></div>
                {% else %}
                    <div class="col-12"><button data-url="/view_profile/{{user_data.id}}/" id="unfollower_btn">Перестати дружити</button></div>
                {% endif %}
            </div>
            <button style="position: relative; left: 200px; top: -87px; border: none; background-color: white;" type="button"><a style="font-weight: bold; color: gray;">Підписники: {{len_friends}}</a></button>
        </div>
        <h3 style="position: relative; left: 80px;">Дописи</h3>
        <hr style="width: 90%; margin: 10px auto;">
        {% for a_p in p_o_u %}
            <div id="s_post">
                <img src="{{user_data.avatar}}" width="40px" height="40px" style="border-radius: 100%;">
                <a>{{a_p.user.username}}</a>
    
                <hr style="width: 90%; margin: 10px auto;">
                <button style="border: none; background-color: white;" onclick='location.href="http://127.0.0.1:8000/check_post"'>
                    <p>{{a_p.text}}</p>
                    {% if a_p.images != None %}
                        <img style="width: 500px; height: auto;" src="/media/{{a_p.images}}">
                    {% endif %} 

                </button>
                    
                <hr style="width: 90%; margin: 10px auto;">
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block bodybb %}
    <dialog id="vuser_followers" style="border: white; border-radius: 5px;    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); width: 400px; height: 500px;  position: absolute; top: 50%; left: 50%; right: 50%; transform: translate(-50%, -50%);">
        <button onclick="closeFollowers();" style="border: none; background-color: white;" type="button"><img src="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/zgulV2zGm8t.png" alt="" width="28" height="28" id="u_f_9_d0"></button>
        {% for f in user_f %}
        <div style="margin: 10px 10px;">
            <button onclick="location.href='http://127.0.0.1:8000/view_profile/{{f.id}}/'" style="background-color: white; border: none;">
                <img src="{{f.avatar.url}}" width="40px" height="40px" style="border-radius: 100%;">
                <a>{{f.username}}</a>
            </button>
        </div>
        {% endfor %}
    </dialog>
{% endblock %}