<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат - Facebook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/js/top_js.js"></script>
    <link rel="icon" href="/static/ico/fc_top.png" type="image/png">
</head>
<body style="background-color:rgb(11, 60, 98);">
    {% csrf token %}
    <div>
        <img style="border-radius: 100%;" src="{{user.avatar.url}}" width="32px" height="32px">
        <input style="width: 255px; height: 40px; position: relative; left: 60px; border: rgb(11, 60, 98); background-color:rgb(10, 52, 83); border-radius: 80px; color: #fff;" type="text" id="search_chat_f" placeholder="Search">
    </div>
    <hr style="margin: 5px auto; width: 100%;">
    <div id="resurt_and_chats"></div>
    <hr style="width: 100%; transform: rotate(90deg); position: relative; right: 400px;">
</body>
</html>